<div class="card" >
  <div class="card-header">
    Nhật ký công việc trong tuần
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>TT</th>
          <th>Ngay</th>
          <th>Noi dung</th>
          <th>Ket qua</th>
          <th>Chi lenh</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of nhatky">
          <td scope="row">{{item.id}}</td>
          <td>{{item.ngay}}</td>
          <td>{{item.nd}}</td>
          <td>{{item.kq}}</td>
          <td>{{item.chilenh}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>


