<div class="container">
  <div class="row">
   <nav class="navbar navbar-expand-lg bg-light">
     <div class="container-fluid">
       
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/nhatkytuan']"  >Nhat ky cv trong tuan</a>
          </li>
      
           <li class="nav-item">
            <a class="nav-link" [routerLink]="['/nhatkytheodoi']"   >Sổ theo doi nhat ký cá nhân </a>
            </li>
 
           
         </ul>
       </div>
     </div>
   </nav>
 
  </div>
  <div class="row" style="margin: 20px;">
    <section>
       <router-outlet></router-outlet>
    </section>
  </div>
 </div>